In [8]:

import json
import pandas as pd
from census import Census
from us import states


# Load your Census API key from config.json
def load_config():
    with open('config.json') as f:
        return json.load(f)

config = load_config()
api_key = config['census_api_key']

# Create a Census API object
census_api = Census(api_key)
#

In [9]:
# Define data fields and counties 
fields = [
    'B01003_001E',  
    'B19019_001E',  
    'B02009_001E',  
    'B03003_003E',  
    'B22003_001E',
    'B05010_002E',
    'B08141_002E' 
]
counties = ['053', '003', '123','163', '037', '139', '019']  
state_fips = '27'  

# Fetch and Combine Census Data
all_counties_data = [] 
for county_fips in counties:
    census_data = census_api.acs5.state_county_tract(fields, state_fips, county_fips, Census.ALL) 

    # Convert to DataFrame and add county identifier
    county_df = pd.DataFrame(census_data)
    county_df['county'] = county_fips  

    all_counties_data.append(county_df)  

# Reshape the Data for Better Analysis
census_df = pd.concat(all_counties_data)

# Descriptive Column Names (Illustrative - Update with your mappings!)
column_map = {
    'B01003_001E': 'Total Population',
    'B19019_001E': 'Median Household Income', 
    'B02009_001E': 'African American Pop.',  
    'B03003_003E': 'Hispanic Population',  
    'B22003_001E': 'Food Stamps',
    'B05010_002E': 'Pop Below Poverty Line',
    'B08141_002E': 'No Car Available' 
}
census_df = census_df.rename(columns=column_map)

census_df

,Total Population,Median Household Income,African American Pop.,Hispanic Population,Food Stamps,Pop Below Poverty Line,No Car Available,state,county,tract
0,3343.0,73409.0,829.0,494.0,1092.0,81.0,5.0,27,053,000101
1,4896.0,59750.0,1660.0,294.0,1759.0,39.0,157.0,27,053,000102
2,3199.0,83333.0,504.0,117.0,1306.0,242.0,29.0,27,053,000300
3,4636.0,75727.0,787.0,362.0,2000.0,102.0,101.0,27,053,000601
4,3233.0,93462.0,181.0,295.0,1402.0,0.0,19.0,27,053,000603
...,...,...,...,...,...,...,...,...,...,...
20,5360.0,61787.0,177.0,1398.0,2245.0,134.0,176.0,27,019,091001
21,6340.0,126250.0,194.0,83.0,2150.0,0.0,34.0,27,019,091002
22,7489.0,114819.0,169.0,191.0,2548.0,45.0,56.0,27,019,091100
23,5055.0,74775.0,253.0,283.0,1812.0,39.0,8.0,27,019,091201
24,3252.0,101902.0,181.0,120.0,1237.0,39.0,26.0,27,019,091202

In [10]:
census_df.to_csv('../Data/raw/census_data.csv', index=False)